
<div class="text-center">
	<h1>Editing task</h1>

	<%= render 'tasks/form' %>

	<%= link_to 'Show', @task, class: "btn btn-default" %>
	<%= link_to 'Back', root_path, class: "btn btn-default" %>
</div>