
<div class="container">
	<p class="welcome">Welcome to brand new App called TaskManager.<p>
		<div class="text-center">
			<%=link_to 'Sign Up', new_user_registration_path, class: "btn btn-primary", id: "button_signin" %>
		</div>
	<div class="row">
		<div class="col-md-4">
			<div class="text-center">
				<h5>Headline Example</h5>  
				<p>Pork belly bespoke scenester paleo, helvetica deep v 8-bit fashion axe schlitz truffaut. Plaid direct trade leggings typewriter, chicharrones neutra you probably haven't heard of them portland ramps fixie trust fund meggings. Raw denim tousled stumptown, +1 ramps kombucha everyday carry normcore pork belly salvia shoreditch bitters roof party messenger bag. Quinoa lo-fi small batch XOXO pickled. Gastropub small batch viral, readymade neutra etsy bitters listicle sriracha asymmetrical lo-fi drinking vinegar quinoa. Marfa paleo godard, intelligentsia tousled church-key 3 wolf moon hella +1 YOLO irony raw denim. Typewriter thundercats PBB kickstarter celiac umami tumblr.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="text-center">
				<h5>Headline Example</h5>  
				<p>Pork belly bespoke scenester paleo, helvetica deep v 8-bit fashion axe schlitz truffaut. Plaid direct trade leggings typewriter, chicharrones neutra you probably haven't heard of them portland ramps fixie trust fund meggings. Raw denim tousled stumptown, +1 ramps kombucha everyday carry normcore pork belly salvia shoreditch bitters roof party messenger bag. Quinoa lo-fi small batch XOXO pickled. Gastropub small batch viral, readymade neutra etsy bitters listicle sriracha asymmetrical lo-fi drinking vinegar quinoa. Marfa paleo godard, intelligentsia tousled church-key 3 wolf moon hella +1 YOLO irony raw denim. Typewriter thundercats PBR kickstarter celiac umami tumblr.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="text-center">
				<h5>Headline Example</h5>  
				<p>Pork belly bespoke scenester paleo, helvetica deep v 8-bit fashion axe schlitz truffaut. Plaid direct trade leggings typewriter, chicharrones neutra you probably haven't heard of them portland ramps fixie trust fund meggings. Raw denim tousled stumptown, +1 ramps kombucha everyday carry normcore pork belly salvia shoreditch bitters roof party messenger bag. Quinoa lo-fi small batch XOXO pickled. Gastropub small batch viral, readymade neutra etsy bitters listicle sriracha asymmetrical lo-fi drinking vinegar quinoa. Marfa paleo godard, intelligentsia tousled church-key 3 wolf moon hella +1 YOLO irony raw denim. Typewriter thundercats PBRB kickstarter celiac umami tumblr.</p>
			</div>
		</div>
	</div>
</div>

